<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eugene.mapper.CouponJobMapper">

    <insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO coupon_job(coupon_code, user_id, send_time, coupon_num, coupon_status,create_time,
        update_time)
        VALUES
        <foreach collection="couponJobs" item="couponJob" separator=",">
            (#{couponJob.couponCode},#{couponJob.userId},#{couponJob.sendTime},#{couponJob.couponNum},#{couponJob.couponStatus},#{couponJob.createTime},#{couponJob.updateTime})
        </foreach>
    </insert>

</mapper>
